In [2]:
import pandas as pd
import numpy as np
import plotly.express as px
import seaborn as sns
import matplotlib.pyplot as plt

### Read Data

In [3]:
data = pd.read_csv('olympic_120_years/athlete_events.csv')
data_noc= pd.read_csv('olympic_120_years/athlete_events.csv')

### Data Exploration

In [4]:
data.shape

(271116, 15)

In [5]:
data.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      271116 non-null  int64
 1   Name    271116 non-null  object
 2   Sex     271116 non-null  object
 3   Age     261642 non-null  float64
 4   Height  210945 non-null  float64
 5   Weight  208241 non-null  float64
 6   Team    271116 non-null  object
 7   NOC     271116 non-null  object
 8   Games   271116 non-null  object
 9   Year    271116 non-null  int64
 10  Season  271116 non-null  object
 11  City    271116 non-null  object
 12  Sport   271116 non-null  object
 13  Event   271116 non-null  object
 14  Medal   39783 non-null   object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB

In [7]:
data.Year.min()

1896

In [8]:
data.Year.max()

2016

### Data Proprocessing

In [9]:
data.duplicated().values.any()

True

In [10]:
data.isna().values.any()

True

In [11]:
data.isna().sum()

ID             0
Name           0
Sex            0
Age         9474
Height     60171
Weight     62875
Team           0
NOC            0
Games          0
Year           0
Season         0
City           0
Sport          0
Event          0
Medal     231333
dtype: int64

### Merge two dataset

In [12]:
data = pd.merge(data,data_noc,how='left',on='NOC')

Error: Canceled future for execute_request message before replies were done

### Medals by Gender

In [ ]:
gender_data = data.Sex.value_counts()
gender_data

M    196594
F     74522
Name: Sex, dtype: int64

In [ ]:
px.pie(
    labels=gender_data.index,
    values=gender_data.values,
    names=gender_data.index,
    hole=0.4,
    title="Percentage of Male vs Female Medalists"
)

## Correlation

In [ ]:
gdp = pd.read_excel('./gdp/gdp_data.xls' ,skiprows=3)
gdp.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,ABW,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,2.534637e+09,2.727850e+09,2.790849e+09,2.962905e+09,2.983637e+09,3.092430e+09,3.202189e+09,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,GDP (current US$),NY.GDP.MKTP.CD,2.008272e+10,2.050945e+10,2.235043e+10,2.675866e+10,2.446499e+10,2.787894e+10,...,9.505214e+11,9.642424e+11,9.848071e+11,9.199300e+11,8.733549e+11,9.853557e+11,1.012853e+12,1.009910e+12,9.207923e+11,NaN
2,Afghanistan,AFG,GDP (current US$),NY.GDP.MKTP.CD,5.377778e+08,5.488889e+08,5.466667e+08,7.511112e+08,8.000000e+08,1.006667e+09,...,1.990732e+10,2.014640e+10,2.049713e+10,1.913421e+10,1.811656e+10,1.875347e+10,1.805323e+10,1.879945e+10,2.011614e+10,NaN
3,Africa Western and Central,AFW,GDP (current US$),NY.GDP.MKTP.CD,1.040428e+10,1.112805e+10,1.194335e+10,1.267652e+10,1.383858e+10,1.486247e+10,...,7.275714e+11,8.207876e+11,8.649666e+11,7.607297e+11,6.905430e+11,6.837416e+11,7.416916e+11,7.945725e+11,7.845876e+11,NaN
4,Angola,AGO,GDP (current US$),NY.GDP.MKTP.CD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.280529e+11,1.367099e+11,1.457122e+11,1.161936e+11,1.011239e+11,1.221238e+11,1.013532e+11,8.941719e+10,5.837598e+10,NaN

In [ ]:
gdp.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021'],
      dtype='object')

In [ ]:
gdp = gdp[['Country Name','1988', '1992', '1996', '2000', '2004','2008','2012', '2016']]
gdp.rename(columns={'Country Name':'Country'},inplace=True)
gdp.tail()

,Country,1988,1992,1996,2000,2004,2008,2012,2016
261,Kosovo,NaN,NaN,NaN,NaN,NaN,5.181777e+09,6.163785e+09,6.682833e+09
262,"Yemen, Rep.",NaN,6.463650e+09,5.785685e+09,9.652436e+09,1.387279e+10,2.691085e+10,3.540134e+10,3.131737e+10
263,South Africa,9.517664e+10,1.345452e+11,1.632368e+11,1.517534e+11,2.558066e+11,3.161321e+11,4.344005e+11,3.235855e+11
264,Zambia,3.713614e+09,3.181922e+09,3.597221e+09,3.600683e+09,6.221078e+09,1.791086e+10,2.550306e+10,2.095841e+10
265,Zimbabwe,7.814784e+09,6.751472e+09,8.553147e+09,6.689958e+09,5.805598e+09,4.415703e+09,1.711485e+10,2.054868e+10

In [ ]:
gdp = pd.melt(gdp, 
            id_vars='Country', 
            value_vars=list(gdp.columns[1:]), 
            var_name='Year', 
            value_name='GDP')
gdp.sort_values(['Country','Year'],ascending = [True,True],inplace=True)
gdp.head()

          Country  Year           GDP
2     Afghanistan  1988           NaN
268   Afghanistan  1992           NaN
534   Afghanistan  1996           NaN
800   Afghanistan  2000           NaN
1066  Afghanistan  2004  5.226779e+09

In [ ]:
gdp['Year'] = gdp['Year'].astype(int)

set(medals_tally['Country']) - set(gdp['Country'])

NameError: name 'medals_tally' is not defined